<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969590178999-q293ad14eep8o8oagd0j34loejju9kcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969590178999-q293ad14eep8o8oagd0j34loejju9kcq</string>
	<key>API_KEY</key>
	<string>AIzaSyDkdLF25jsBxe4D0LwEMiSuVnjXjrtHpuo</string>
	<key>GCM_SENDER_ID</key>
	<string>969590178999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitsHub</string>
	<key>PROJECT_ID</key>
	<string>fruit-hub-fad11</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-hub-fad11.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969590178999:ios:3b1df14caa0e9118973932</string>
</dict>
</plist>